# Virtual environment
venv/
.env

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Database
db.sqlite3
db.sqlite3-journal

# Media
/media
/data
# Static files
/staticfiles

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
*.swp
*~

# Environment variables
.env

# VSCode
.vscode/
